<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<html>
<head>
  <meta charset="UTF-8">
  <title>Червоний текст на чорному фоні</title>
  <style>
    body {
      background-color: black;
      color: red;
      text-align: center;
      font-size: 24px;
    }
  </style>
</head>
<body>
  <p>Безкоштовний генератор паролей з змінними критеріями.</p>
  <p>Розроблений Олександром для добрих людей.</p>
  <p>Москалям тут не місце, здохніть в аду!</p>
  <a href="{% url 'home' %}"> HOME </a>
</body>
</html>
